<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Soteria</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
  <div class="topbar">
    <div class="topbar-left">
      <h1>Soteria</h1>

      <nav class="top-nav">
        <a asp-page="/Index" class="nav-item active">Home</a>
        <a href="/Privacy" class="nav-item">Privacy</a>
      </nav>
    </div>
  </div>

  <div class="app">

    <!-- LEFT COLUMN -->
    <aside class="left">
      @RenderSection("LeftPanel", required: false)
    </aside>

    <!-- MAIN CONTENT -->
    <main class="main">
      @RenderBody()
    </main>

    <!-- RIGHT COLUMN -->
    <aside class="right">
      @RenderSection("RightPanel", required: false)
    </aside>

  </div>

  <footer class="border-top footer text-muted">
    <div class="container">
      &copy; 2026 - Soteria - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
  </footer>

  <script src="~/js/site.js" asp-append-version="true"></script>

  @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
