Authentication__OpenIdConnect__ClientSecret=
OpenIddict__EncryptionKey=
Bootstrap__SoteriaAdministratorEmail=
OpenIddict__Certificates__SigningThumbprint=
OpenIddict__Certificates__EncryptionThumbprint=