@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<div class="left-section">
  <a class="nav-item" asp-page="./Index">Profile</a>
  <a class="nav-item" asp-page="./Email">Email</a>
  <a class="nav-item" asp-page="./ChangePassword">Password</a>

  @if (hasExternalLogins)
  {
    <a class="nav-item" asp-page="./ExternalLogins">External logins</a>
  }

  <a class="nav-item" asp-page="./TwoFactorAuthentication">Two-factor authentication</a>
  <a class="nav-item" asp-page="./PersonalData">Personal data</a>
</div>
