@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="card">
    <form id="change-password-form" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-group">
            <label asp-for="Input.OldPassword"></label>
            <input asp-for="Input.OldPassword" class="form-input" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
            <span asp-validation-for="Input.OldPassword" class="text-error"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.NewPassword"></label>
            <input asp-for="Input.NewPassword" class="form-input" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
            <span asp-validation-for="Input.NewPassword" class="text-error"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.ConfirmPassword"></label>
            <input asp-for="Input.ConfirmPassword" class="form-input" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password."/>
            <span asp-validation-for="Input.ConfirmPassword" class="text-error"></span>
        </div>
        <button type="submit" class="btn">Update password</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
