@page
@model RegisterModel
@{
    ViewData["Title"] = "Register a new user";
}

<h2>@ViewData["Title"]</h2>

<div class="card">
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="ModelOnly" class="text-error" role="alert"></div>
        <div class="form-group">
            <label asp-for="Input.Email">Email</label>
            <input asp-for="Input.Email" class="form-input" autocomplete="username" aria-required="true" placeholder="name@example.com" />
            <span asp-validation-for="Input.Email" class="text-error"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Password">Password</label>
            <input asp-for="Input.Password" class="form-input" autocomplete="new-password" aria-required="true" placeholder="password" />
            <span asp-validation-for="Input.Password" class="text-error"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.ConfirmPassword">Confirm Password</label>
            <input asp-for="Input.ConfirmPassword" class="form-input" autocomplete="new-password" aria-required="true" placeholder="password" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-error"></span>
        </div>
        <button id="registerSubmit" type="submit" class="btn">Register</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
