@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <h3>Clients</h3>
    @foreach(var clientLink in Model.ClientLinks){
      <ul><a href="@clientLink.Link">@clientLink.Name</a></ul>
    }
    <h3>Users</h3>
    @foreach(var userLink in Model.UserLinks){
      var text = $"{userLink.DisplayName} - {userLink.Email}";
      <ul><a href="@userLink.Link">@text</a></ul>
    }
</div>
