@page
@model IndexModel
@{
    ViewData["Title"] = "Soteria Admin";
}

<h2>Clients</h2>
<div class="card">
    @foreach(var clientLink in Model.ClientLinks){
      <a class="nav-item" href="@clientLink.Link">@clientLink.Name</a>
    }
    <a class="btn" href="/Client/Create">Add new client</a>
</div>

<h2>Users</h2>
<div class="card">
    @foreach(var userLink in Model.UserLinks){
      var text = $"{userLink.DisplayName} ({userLink.Email})";
      <a class="nav-item" href="@userLink.Link">@text</a>
    }
    <a class="btn" href="/Identity/Account/Register">Add new user</a>
</div>
