.recovery-code-container {
    width: fit-content;
    max-width: 100%;
}

.recovery-code-list {
    margin: 0;
    overflow-x: auto;
    color: var(--mud-palette-text-primary);
    font-family: monospace;
    font-size: 1rem;
    line-height: 1.75;
    user-select: all;
    white-space: pre;
}